<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test  name="Test">
	<parameter name="username" value="admin@yourstore.com"></parameter>
	<parameter name="password" value="admin"></parameter>
		<classes>
			<class name="tests.RegressionTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
